footer {
  background: linear-gradient(to left, #121212, #5b5a5a);
  border-radius: 10px;
  padding: 12px 20px;
  text-align: center;
  font-size: 1rem;
  color: #d1c0c0;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 0.1);
  margin: 5px auto;
  height: 10vh;
}
